<div class="product-grid" style="margin-bottom: 95px;">
    <% products.forEach(product => { %>
        <div class="product" style="position: relative;">
        
            <!-- Product Image -->
            <% if (product.images.length > 0) { %>
                <div class="product-img">
                    <% if(product.active) { %>
                        <a href="/product/<%= product.id %>">
                            <img src="<%= product.images[0] %>" alt="<%= product.name %>">
                        </a>
                    <% } else { %>
                        <img src="<%= product.images[0] %>" alt="<%= product.name %>">
                  
                    <% } %>
                    <% if(product.active && product.is_new) { %>
                        <span class="sold-out">new</span>
                    <% } %>
                    <% if(product.active && product.is_best_selling) { %>
                        <span class="sold-out">best selling</span>
                    <% } %>
                    <% if(!product.active) { %>
                        <span class="sold-out">sold out</span>
                    <% } %>
                </div>
            <% } %>
    
            <!-- Product Title -->
            <h2><%= product.name %></h2>
    
            <!-- Price Menu Section -->
            <% if (product.active) { %> <!-- Only show the price menu for active products -->
                <div class="price-menu">
                    <!-- "ORDER NOW" Button -->
                    <span class="button">ORDER NOW</span>
                    <!-- Prices List -->
                    <ul class="prices">
                        <% product.prices.forEach(price => { %>
                            <li class="price-category">
                                <span><%= price.nickname %></span>  
                                <button onclick="createSession('<%= price.id %>')">
                                    $<%= (price.unit_amount / 100).toFixed(2) %>
                                </button>
                            </li>
                        <% }); %>
                        <% product.prices.forEach(price => { %>
                            <li class="mbl-category">  
                                <button onclick="createSession('<%= price.id %>')">
                                    <%= price.nickname && price.nickname.charAt(0) %> $<%= (price.unit_amount / 100).toFixed(2) %>
                                </button>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            <% } else { %>
                <button 
    class="notify-btn" 
    data-price="<%= product.default_price.unit_amount ?  (product.default_price.unit_amount / 100).toFixed(2) : 'Price not available' %>"
    data-name="<%= product.name %>" 
    data-description="<%= product.description && product.description.trim() !== '' ? product.description : 'No description available' %>" 
    data-image="<%= product.images && product.images.length > 0 ? product.images[0] : 'https://via.placeholder.com/150' %>">
    Notify Me
                </button>


            <% } %>
            
        </div>
    <% }); %>
    
    
</div>
